<div class="skw-pages">
  <div class="skw-page skw-page-1 active">
    <div class="skw-page__half skw-page__half--left">
      <div class="skw-page__skewed">
        <div class="skw-page__content"></div>
      </div>
    </div>
    <div class="skw-page__half skw-page__half--right">
      <div class="skw-page__skewed">
        <div class="skw-page__content">
          <h2 class="skw-page__heading">Charles Cruz</h2>
          <p class="skw-page__description">Ruby on Rails Developer</p>
          <p class="skw-page__description">I've been teaching myself in web development since around 2013.
          <p class="skw-page__description">Attending an intensive online code school left me hungry for more and I am eager to work on meaningful, useful and sustainable projects.</p>
          <p class="skw-page__description">I want to bring my excitement, passion for learning and work ethic to a dynamic and collaborative team that believes in continuous improvement and works on projects that have a positive impact on our society.</p>
          <h5 class="skw-page__notify">Just scroll down</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="skw-page skw-page-2">
    <div class="skw-page__half skw-page__half--left">
      <div class="skw-page__skewed">
        <div class="skw-page__content">
          <h2 class="skw-page__heading">Stack</h2>
          <p class="skw-page__description">Stack and Programming Languages: Ruby on Rails, Ruby, JavaScript, jQuery, HTML, CSS, SQL, PostgresSQL, MySQL</p>
        </div>
      </div>
    </div>
    <div class="skw-page__half skw-page__half--right">
      <div class="skw-page__skewed">
        <div class="skw-page__content"></div>
      </div>
    </div>
  </div>
  <div class="skw-page skw-page-3">
    <div class="skw-page__half skw-page__half--left">
      <div class="skw-page__skewed">
        <div class="skw-page__content"></div>
      </div>
    </div>
    <div class="skw-page__half skw-page__half--right">
      <div class="skw-page__skewed">
        <div class="skw-page__content">
          <h2 class="skw-page__heading">TOOLS</h2>
          <p class="skw-page__description">Github, Amazon Web Services, Heroku,, Trello, Google Web Apps, Slack, JIRA</p>
          <h2 class="skw-page__heading">Others</h2>
          <p class="skw-page__description">Twitter Bootstrap, Wordpress, SLIM, Autopilot, MailChimp, Litmus, MS EXCEL, SEO, Keyword Searching</p>
        </div>
      </div>
    </div>
  </div>
  <div class="skw-page skw-page-4">
    <div class="skw-page__half skw-page__half--left">
      <div class="skw-page__skewed">
        <div class="skw-page__content">    
          <h2 class="skw-page__heading">Hobbies</h2>
          <p class="skw-page__description">My favorite hobby is working out, gym, health and fitness. I also like playing board games with my friends.</p>
        </div>
      </div>
    </div>
    <div class="skw-page__half skw-page__half--right">
      <div class="skw-page__skewed">
        <div class="skw-page__content"></div>
      </div>
    </div>
  </div>
  <div class="skw-page skw-page-5">
    <div class="skw-page__half skw-page__half--left">
      <div class="skw-page__skewed">
        <div class="skw-page__content"></div>
      </div>
    </div>
    <div class="skw-page__half skw-page__half--right">
      <div class="skw-page__skewed">
        <div class="skw-page__content">
          <h2 class="skw-page__heading">My Projects</h2>
          <p class="skw-page__description">
            Feel free to check my sample </a>
            <%= link_to "projects", projects_path, class: "skw-page__link" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>