<div class="wrap">
<div class="tile"> 
  <img src='https://s3.amazonaws.com/charlespersonalapp/four-in-a-row.jpg'/>
  <div class="textile">
  <h1>Four In A Row</h1>
  <h2 class="animate-text">Four-in-a-row (or four-in-a-line) is the name for a series of games in which the object is to line up four things in a row.</h2>
  <p class="animate-text">Stack: Ruby on Rails, Javascript</p>
  <p class="animate-text">Hosting: Heroku</p>
  <p class="animate-text">Link: <%= link_to "Four-In-A-Row", "https://charlesfourinarow.herokuapp.com", target: :_blank %></p>
<div class="dots">
    <span></span>
    <span></span>
    <span></span>
  </div>
  </div>
 </div>


<div class="tile"> 
  <img src='https://s3.amazonaws.com/charlespersonalapp/recipe.jpg'/>
  <div class="textile">
  <h1>Recipe App</h1>
  <h2 class="animate-text">The Professional Ruby on Rails Developer course. I bought this course in Udemy website. It explains how to use AWS, Migrations, TDD, Associations, Gravatar, Forms and Image upload, Authentication and Admin User</h2>
  <p class="animate-text">Stack: Ruby on Rails</p>
  <p class="animate-text">Hosting: Heroku</p>
  <p class="animate-text">Link: <%= link_to "My Recipe", "http://charlesdesign.herokuapp.com", target: :_blank %></p>
<div class="dots">
    <span></span>
    <span></span>
    <span></span>
  </div>
  </div>
 </div>
  
  <div class="tile"> 
  <img src='https://s3.amazonaws.com/charlespersonalapp/book.jpg'/>
  <div class="textile">
  <h1>Twitter App</h1>
  <h2 class="animate-text">Ruby on Rails Tutorial book of Michael Hartl. This application includes Sign Up, Basic login, Account activation, Password reset and other features of application like Twitter.</h2>
  <p class="animate-text">Stack: Ruby on Rails</p>
  <p class="animate-text">Hosting: Heroku</p>
  <p class="animate-text">Link: <%= link_to "Twitter App", "https://charles-hartl-new-app.herokuapp.com", target: :_blank %></p>
<div class="dots">
    <span></span>
    <span></span>
    <span></span>
  </div>
  </div>
 </div>
</div>
  
  
</div>